In [67]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
imdb = pd.read_csv('IMDB-database-update.csv', encoding = 'ISO-8859-1')

# 1. How many rows and columns reflected on dataset file IMDB-database-update.csv

In [5]:
imdb.shape

(3781, 36)

In [17]:
imdb.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

# 2. What are the top 3 movies with highest nett profit in 2013?

In [42]:
movie_2013 = imdb[imdb.title_year == 2013]
net_sort = movie_2013.sort_values('net_USD', ascending=False)
net_sort.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
1614,1615,The Hunger Games: Catching Fire,146,1,2013,USA,English,PG-13,130000000,424645577,...,1,523,49355,1,82000,1,498397,706,7.6,0
236,237,Despicable Me 2,98,1,2013,USA,English,PG,76000000,368049635,...,1,1000,11905,1,56000,0,286877,284,7.5,0
57,58,Frozen,102,1,2013,USA,English,PG,150000000,400736600,...,1,490,2582,1,58000,0,421658,904,7.6,0

# 3. What are the top 3 movies with highest gross profit in 2009?

In [20]:
movie_2009 = imdb[imdb.title_year == 2009]
gross_sort = movie_2009.sort_values('gross_USD')
gross_sort.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
3049,3050,Tanner Hall,96,1,2009,USA,English,R,3000000,5005,...,1,357,1929,1,448,2,2280,14,5.9,0
2978,2979,The Open Road,91,1,2009,USA,English,PG-13,10000000,19348,...,1,875,16118,1,370,2,2941,11,5.5,0
3038,3039,The Good Heart,99,1,2009,Iceland,English,R,3800000,19959,...,1,64,298,0,0,2,3579,14,6.9,0

# 4. How many non-english movies are in the dataset?

In [31]:
non_english = imdb[imdb.language != 'English']
print(len(non_english))
non_english.head()

153

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
227,228,Oceans,104,1,2009,France,French,G,40000000,19406406,...,1,7,152,0,0,0,7630,42,7.8,0
354,355,The Great Raid,132,0,2005,USA,Filipino,R,80000000,10166502,...,1,242,12133,0,0,0,18209,183,6.7,0
492,493,Apocalypto,139,1,2006,USA,Maya,R,40000000,50859889,...,1,19,848,1,14000,0,236000,1043,7.8,0
515,516,Am??lie,122,0,2001,France,French,R,77000000,33201661,...,1,54,809,1,39000,0,534262,1314,8.4,1
524,525,Nomad: The Warrior,112,1,2005,France,Kazakh,R,25000000,77231,...,1,533,2115,1,265,0,3322,32,6.0,0

# 5. What are top 3 languages in the dataset aside English (based on number of movies)?

In [32]:
et3 = non_english.groupby('language')
sort_count = et3['movie_title'].count()
sort_language = sort_count.sort_values(ascending = False)
sort_language.head(3)

language
French      33
Spanish     23
Mandarin    14
Name: movie_title, dtype: int64

# 6. What are the top 3 countries with the highest nett profit in all dataset times?

In [39]:
hnp = imdb.groupby('country')
sum_hnp = hnp['net_USD'].sum()
sort = sum_hnp.sort_values(ascending=False)
sort.head(3)

country
USA          52003933174
UK            1531614524
Australia      252571616
Name: net_USD, dtype: int64

# 7. What are the average budget of all movies in dataset in 2013?

In [48]:
sum_2013 = movie_2013['budget_USD'].sum()
count_2013 =movie_2013['movie_ID'].count()
avg_2013 = sum_2013/count_2013
avg_2013

51069610.77439024

# 8. What are the average budget of all movies in dataset in 2014?

In [49]:
movie_2014 = imdb[imdb.title_year == 2014]
sum_2014 = movie_2014['budget_USD'].sum()
count_2014 =movie_2014['movie_ID'].count()
avg_2014 = sum_2014/count_2014
avg_2014

49919006.62251656

# 9. Which one is higher, average budget of all movies in dataset in 2014 or 2013?

In [56]:
if (avg_2014 > avg_2013):
    print(2014)
elif (avg_2014 == avg_2013):
    print('sama')
else:
    print(2013)

2013

# 10. What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [54]:
higgest_movie = imdb.loc[(imdb.title_year>=1927)]
net_higgest = higgest_movie.sort_values('net_USD', ascending=False)
net_higgest

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
14,15,Jurassic World,124,1,2015,USA,English,PG-13,150000000,652177271,...,1,1000,8458,1,150000,0,418214,1290,7.0,0
11,12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,...,1,794,45223,1,26000,0,793059,2528,7.7,0
2294,2295,Star Wars: Episode IV - A New Hope,125,1,1977,USA,English,PG,11000000,460935665,...,1,504,13485,1,33000,1,911097,1470,8.7,1
1112,1113,E.T. the Extra-Terrestrial,120,1,1982,USA,English,PG,10500000,434949459,...,1,548,2811,1,34000,0,281842,515,7.9,0
3154,3155,The Avengers,173,1,2012,USA,English,PG-13,220000000,623279547,...,1,19000,87697,1,123000,3,995415,1722,8.1,1
3095,3096,The Avengers,173,1,2012,USA,English,PG-13,220000000,623279547,...,1,19000,87697,1,123000,3,995415,1722,8.1,1
231,232,The Lion King,73,1,1994,USA,English,G,45000000,422783777,...,1,847,6458,1,17000,0,644348,656,8.5,1
1623,1624,Star Wars: Episode I - The Phantom Menace,136,1,1999,USA,English,PG,115000000,474544677,...,1,1000,37723,1,13000,1,534658,3597,6.5,0
32,33,The Dark Knight,152,1,2008,USA,English,PG-13,185000000,533316061,...,1,11000,57802,1,37000,0,1676169,4667,9.0,1
198,199,The Hunger Games,142,1,2012,USA,English,PG-13,78000000,407999255,...,1,575,49942,1,140000,0,701607,1959,7.3,0
355,356,Deadpool,108,1,2016,USA,English,R,58000000,363024263,...,1,361,18239,1,117000,0,479047,1058,8.1,1
1614,1615,The Hunger Games: Catching Fire,146,1,2013,USA,English,PG-13,130000000,424645577,...,1,523,49355,1,82000,1,498397,706,7.6,0
312,313,Jurassic Park,127,1,1993,USA,English,PG-13,63000000,356784000,...,1,191,2129,1,19000,0,613473,895,8.1,1
236,237,Despicable Me 2,98,1,2013,USA,English,PG,76000000,368049635,...,1,1000,11905,1,56000,0,286877,284,7.5,0
356,357,American Sniper,133,1,2014,USA,English,R,58800000,350123553,...,1,318,16277,1,112000,0,325264,916,7.3,0
155,156,Finding Nemo,100,1,2003,USA,English,G,94000000,380838870,...,1,799,5641,1,11000,0,692482,866,8.2,1
1706,1707,Shrek 2,93,1,2004,USA,English,PG,150000000,436471036,...,1,48,1148,0,0,1,314630,483,7.2,0
2598,2599,The Lord of the Rings: The Return of the King,192,1,2003,USA,English,PG-13,94000000,377019252,...,1,416,6434,1,16000,2,1215718,3189,8.9,1
598,599,Star Wars: Episode VI - Return of the Jedi,134,1,1983,USA,English,PG,32500000,309125409,...,1,504,13649,1,14000,0,681857,647,8.4,1
361,362,Forrest Gump,142,0,1994,USA,English,PG-13,55000000,329691196,...,1,194,15700,1,59000,0,1251222,1398,8.8,1
777,778,Star Wars: Episode V - The Empire Strikes Back,127,1,1980,USA,English,PG,18000000,290158751,...,1,441,12643,1,17000,0,837759,900,8.8,1
3598,3599,Home Alone,103,1,1990,USA,English,PG,18000000,285761243,...,1,925,7521,1,20000,5,311075,305,7.5,0
3399,3400,Star Wars: Episode III - Revenge of the Sith,140,1,2005,USA,English,PG-13,113000000,380262555,...,1,4000,44042,1,10000,4,520104,3286,7.6,0
78,79,Spider-Man,121,1,2002,USA,English,PG-13,139000000,403706375,...,1,4000,40484,1,5000,0,544665,2012,7.3,0
256,257,Minions,91,1,2015,USA,English,PG,74000000,336029560,...,1,1000,13616,1,70000,0,142403,275,6.4,0
470,471,The Sixth Sense,107,1,1999,USA,English,PG-13,40000000,293501675,...,1,766,17540,1,14000,0,704766,2073,8.1,1
1055,1056,Jaws,130,1,1975,USA,English,PG,8000000,260000000,...,1,366,2047,1,21000,0,412454,962,8.0,0
57,58,Frozen,102,1,2013,USA,English,PG,150000000,400736600,...,1,490,2582,1,58000,0,421658,904,7.6,0
235,236,The Secret Life of Pets,87,1,2016,Japan,English,PG,75000000,323505540,...,1,745,4782,1,36000,0,24407,155,6.8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2561,2562,Prince of Persia: The Sands of Time,116,1,2010,USA,English,PG-13,200000000,90755643,...,1,236,16149,1,23000,2,222403,453,6.6,0
2558,2559,The Golden Compass,113,1,2007,USA,English,PG-13,180000000,70083519,...,1,1000,24106,0,0,2,149019,666,6.1,0
125,126,Speed 2: Cruise Control,121,1,1997,USA,English,PG-13,160000000,48068396,...,1,202,2027,1,894,0,60573,248,3.7,0
47,48,Warcraft,123,1,2016,USA,English,PG-13,160000000,46978995,...,1,648,5505,1,89000,0,111609,781,7.3,0
3533,3534,Pan,111,1,2015,USA,English,PG,150000000,34964818,...,1,394,21404,1,24000,4,39975,186,5.8,0
3393,3394,Pan,111,1,2015,USA,English,PG,150000000,34964818,...,1,394,21393,1,24000,4,39956,186,5.8,0
3401,3402,Pan,111,1,2015,USA,English,PG,150000000,34964818,...,1,394,21393,1,24000,4,39956,186,5.8,0
3101,3102,Alexander,206,1,2004,Germany,English,R,155000000,34293771,...,1,591,24598,0,0,3,138863,1390,5.5,0
1593,1594,The Lone Ranger,150,1,2013,USA,English,PG-13,215000000,89289910,...,1,1000,45757,1,48000,1,181792,711,6.5,0
69,70,Mars Needs Moms,88,1,2011,USA,English,PG,150000000,21379315,...,1,433,2652,0,0,0,17590,112,5.4,0
1597,1598,Jupiter Ascending,127,1,2015,USA,English,PG-13,176000000,47375327,...,1,13000,47334,1,44000,1,139593,720,5.4,0
1596,1597,Jack the Giant Slayer,114,1,2013,USA,English,PG-13,195000000,65171860,...,1,140,1766,1,22000,1,106416,205,6.3,0
2570,2571,47 Ronin,128,1,2013,USA,English,PG-13,175000000,38297305,...,1,982,20965,1,35000,2,116994,324,6.3,0
13,14,Battleship,131,1,2012,USA,English,PG-13,209000000,65173160,...,1,627,26679,1,44000,0,202382,751,5.9,0
40,41,The Polar Express,100,1,2004,USA,English,G,165000000,665426,...,1,267,16264,1,10000,0,120798,444,6.6,0
1261,1262,The Protector,111,1,2005,Thailand,Thai,R,200000000,11905519,...,1,380,2205,0,0,0,30210,214,7.1,0
1590,1591,John Carter,132,1,2012,USA,English,PG-13,263700000,73058679,...,1,530,1873,1,24000,1,212204,738,6.6,0
1002,1003,Ong-bak 2,110,1,2008,Thailand,Thai,R,300000000,102055,...,1,7,134,0,0,0,24570,72,6.2,0
426,427,The Messenger: The Story of Joan of Arc,158,1,1999,France,English,R,390000000,14131298,...,1,15,144,0,0,0,55889,390,6.4,0
3317,3318,The Legend of Suriyothai,300,1,2001,Thailand,Thai,R,400000000,454255,...,1,6,32,1,124,3,1666,47,6.6,0
3436,3437,Red Cliff,150,1,2008,China,Mandarin,R,553632000,626809,...,1,478,2172,0,0,4,36894,105,7.4,0
2956,2957,Kabhi Alvida Naa Kehna,193,1,2006,India,Hindi,R,700000000,3275443,...,1,860,10822,1,659,2,13998,264,6.0,0
3345,3346,Tango,115,1,1998,Spain,Spanish,PG-13,700000000,1687311,...,1,4,371,1,539,3,2412,40,7.2,0
1484,1485,Godzilla 2000,99,1,1999,Japan,Japanese,PG,1000000000,10037390,...,1,3,53,1,339,0,5442,140,6.0,0
1199,1200,Akira,124,1,1988,Japan,Japanese,R,1100000000,439162,...,1,4,28,0,0,0,106160,430,8.1,1
2150,2151,Steamboy,103,1,2004,Japan,Japanese,PG-13,2127519898,410388,...,1,101,991,1,973,1,13727,79,6.9,0
874,875,Princess Mononoke,134,1,1997,Japan,Japanese,PG-13,2400000000,2298191,...,1,745,2710,1,11000,0,221552,570,8.4,1
1091,1092,Fateless,134,1,2005,Hungary,Hungarian,R,2500000000,195888,...,0,0,11,1,607,0,5603,45,7.1,0
1324,1325,Lady Vengeance,112,1,2005,South Korea,Korean,R,4200000000,211667,...,1,38,907,1,4000,0,53508,131,7.7,0
1084,1085,The Host,110,1,2006,South Korea,Korean,R,12215500000,2201412,...,1,74,1173,1,7000,0,68883,279,7.0,0